apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-deployment
  namespace: default
  labels:
    app: python
spec:
  imagePullSecrets:
  - name: regcred
  replicas: 2
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
    spec:
      containers:
      - name: python
        image: harshachess/flask-python:10.0.0
        ports:
        - containerPort: 5000
